*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

*, *:before, *:after{
    box-sizing: border-box;

}
body{
    background-color: #242933;
    color: #ACBAE1;
}

section{
    width: 30%;
    margin: 2em auto;
    padding: 2em 1em;

    background-color: #2F3644;
    border: 1px solid #ACBAE1;
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section__h1{
    width: 90%;
    padding: 0 0 1em 0;
}
.section__fields{
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.section__field{
    display: flex;
    flex-flow: column nowrap;

}

input{
    width: 90%;
    height: 3em;
    border-radius: 3px;
    border: none;
}

input:focus{
    outline: none;
}

input:active{
    outline: none;
}

.wrong{
    border: 3px solid #DB5A5A;
}

.correct{
    border: 3px solid #70db5a;
}

.section__field label{
    font-size: 11pt;
    margin: 0 0 .4em  0;

}

.section__btn{
    width: 90%;
    height: 3em;
    margin: 2em 0;

    cursor: not-allowed;
    pointer-events: none;
    
    background-color: #d1d1d1;
    border: 1px solid black;
    border-radius: 3px;

    color: white;
    font-weight: 500;
}

.valid{
    cursor: pointer;
    background-color: #6C63FF;
    pointer-events: all;
}

.error_name, .error_email, .error_clave, .error_confirm{
    display: none;
    margin: .4em 0 0 0 ;
    font-size: 10pt;
    color: #DB5A5A;
}

.input_group_name , .input_group_email, .input_group_clave, .input_group_confirm{
    display: flex;
    flex-flow: row nowrap;

    background-color: white;
    border-radius: 3px;

}

.logo_wrong_name , .logo_wrong_email, .logo_wrong_clave, .logo_wrong_confirm , .logo_correct_name , .logo_correct_email, .logo_correct_clave, .logo_correct_confirm  {
    border-radius: 3px;
    
    display: none;
    justify-content: center;
    align-items: center;
}
